<div class="site {{showComponent}}">
  <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

  <header class="masthead">
    <h2 class="site-title">Bobex</h2>
  </header>

  <ng-container *ngIf="showComponent === 'shop'">
    <main id="content" class="main-content">
      <h2>Products</h2>
      <app-products></app-products>
    </main>
  </ng-container>
  <ng-container *ngIf="showComponent === 'sendOrder'">
    <main id="content" class="main-content">
      <h2>Order</h2>
      <app-order></app-order>
    </main>
  </ng-container>

  <aside class="sidebar">
    <h2>Basket</h2>
    <app-basket (orderSubmit)="orderSubmitted()"></app-basket>
  </aside>


  <footer class="colophon grid">
    <aside>Contact <a href="mailto:i@python-shop.com" target="_blank" rel="nofollow">i@python-shop.com</a>.</aside>
  </footer>

</div>
