<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>Frontend</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="static/frontend/dist/frontend/styles.31d6cfe0d16ae931b73c.css"></head>
<body>
  <app-root></app-root>
<script src="static/frontend/dist/frontend/runtime.ce2afe238265c8b3d829.js" defer></script><script src="static/frontend/dist/frontend/polyfills.c28b49f56cc63b4a763a.js" defer></script><script src="static/frontend/dist/frontend/main.a361abc161c928be9e3f.js" defer></script>

</body></html>